<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>YML</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
  </head>

  <body style="background-color:#a3a3a3">
    <div class="card bg-white text-white">
      <img src="/static/vinyl.jpg" class="card-img" alt="vinyl" width="100%" height="100%">
      <div class="card-img-overlay">
        <p class="card-text mb-0" style="text-indent:10vw; font-size:1.5vw;">Songs in your library: {{ number }}</p>
        <p class="card-text" style="text-indent:10vw; font-size:1.5vw;">Last update: {{ last_update }} ago</p>
      </div>
    </div>

    <form class="form-inline" method="post" action="/add_song/" align="center">
      <div class="form my-2 mx-auto">
        <input name="author" type="text" class="form-control" style="width: 28vw;" placeholder="Artist: Tool">
        <input name="song" type="text" class="form-control" style="width: 28vw;" placeholder="Song: Aenima">
        <input name="time" type="text" class="form-control" style="width: 28vw;" placeholder="Duration: HH:MM:SS">
        <button type="submit" class="btn btn-primary ml-2" style="width: 10vw;">Add</button>
      </div>
    </form>

    <div class="container" align="center">
      <div class="row">
        <div class="col-sm-1 pr-0 pl-0"></div>
        <div class="col-sm-3 pr-0 pl-0">
            <form class="card-header" style="background-color:#e6e6e6" method="post" action="/sorting_songs/">
              <button class="btn success" name="artist" value="artist" style="color:#469fcf">Artist</button>
            </form>
            <ul class="list-group list-group-flush">
              {% for song in songs %}
              <li class="list-group-item">{{ song[1] }}</li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4 pr-0 pl-0">
          <form class="card-header" style="background-color:#e6e6e6" method="post" action="/sorting_songs/">
            <button class="btn success" name="song" value="song" style="color:#469fcf">Song</button>
          </form>
            <ul class="list-group list-group-flush">
              {% for song in songs %}
              <li class="list-group-item">{{ song[2] }}</li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-sm-2 pr-0 pl-0">
            <form class="card-header" style="background-color:#e6e6e6" method="post" action="/sorting_songs/">
              <button class="btn success" name="duration" value="duration" style="color:#469fcf">Duration</button>
            </form>
            <ul class="list-group list-group-flush">
              {% for song in songs %}
              <li class="list-group-item" >{{ song[3] }}</li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-sm-0">
            <form class="card-header" style="background-color:#a3a3a3; " method="post" action="/sorting_songs/">
              <button class="btn success" name="id" value="id" style="color:#575859" >Date</button>
            </form>
              {% for song in songs %}
                <form style="padding: 4px" method="post" action="/delete_song/">
                  <input type="hidden" name="id" value="{{ song[0] }}">
                  <input type="submit"  style="width: 35px; height: 25px;" class="btn btn-sm btn-dark pt-0 pb-0 m-2" value="x">
                </form>
              {% endfor %}
          </div>
      </div>
    </div>
    <footer>
      <div class="footer-bg pt-2 pr-2" align="right" style="font-size:1vw;">
        version 1.1
      </div>
    </footer>
  </body>

</html>
